# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Kids Play.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yuans\Game Development\Kids Play\.idea\.idea.Kids Play\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
